# © Alban Kraus 2016
# École nationale des sciences géographiques
# 6-8 avenue Blaise Pascal - Champs-sur-Marne
# 77455 MARNE-LA-VALLÉE CEDEX 2
#
# TP de Ahmad Audi
#
# This is Git's ignore list

# Executables and executable-related
*.akraus*
*.o

# LaTeX
rapport.log
rapport.pdf
*.aux
*.out
*.toc
*.loa
*.lof
*.lol
*.lot

# Images
Rapport/data/
*.ras

# Emacs backups
*~

# KDE
.directory